:root {}

body {

    margin: 0;
    font-family: calibri;

}

main {

    width: 100vw;
    min-height: 100vh;

    background-color: grey;

}

#main-container {

    width: 70%;

    background-color: yellow;

}

section {
    float: right;
}

aside {

    width: 30%;
    position: relative;
    display: inline-block;

    background-color: green;

}

.aside-box {

    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 1rem;

    color: white;
    background-color: darkslateblue;

}

section {
    width: 70%;
    background-color: blue;
}

.friends-container {
    background-color: pink;

    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: nowrap;


    width: 100%;
    height: 5rem;
}

.friend-image {
    background-color: red;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 0.4rem;
    margin-left: 0.5rem;

    transition: min-width 0.5s, min-height 0.5s;
}

.friend-image:hover {
    min-width: 5rem;
    min-height: 5rem;
}

.flex-center-h,
.flex-center-vh {

    display: flex;
    justify-content: center;

}

.flex-center-vh {

    align-items: center;

}

.clickable {

    cursor: pointer;

}

.interest {

    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    width: fit-content;
    height: fit-content;

    transition: background-color 0.5s;

}

.interest:hover {

    background-color: rgba(0, 0, 0, 0.4);

}

.invalid {
    background-color: rgb(255, 100, 100);

    transition: background-color 1s;
}

.valid {
    background-color: rgb(255, 255, 255);
}